

body {
  background-color: #E1FAF9;
  padding: 50px;

}

/* search area */

.container {
  display: inline-flex;
  flex-direction: column;
  width: 400px;
  height: 100%;

}

#searchbtn {
  flex-basis: auto;
  width: 100px;
  height: 44px;
}

#searchfield {
  width: 275px;
  height: 38px;
  
  margin-bottom: 5px;;
}


/* Current weather area */

.weathernow {
  display: flex;
  flex-direction: row;
  justify-content: center;;
}

#currentweather {
  display: inline;
  border: 2px solid black;
  font-size: x-large;
  width: 400px;
  margin-bottom: 20px ;
  padding: 10px;
}

/* Extended Forecast area */


.extended {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: larger;
  justify-content: space-evenly;
}



#banner {
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
  border: 2px solid black;
}

